@CHARSET "UTF-8";

#header {
	float: left;
	width: 100%;
	height: 100px;
	background-color: MidnightBlue;
}

#logout_button{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	font-size: 15px;
	background-color: white;
	color: black;
	text-decoration: none;
}

#header ul {
	clear: both;
	margin-bottom: 0;
	padding: 0;
}

#header li {
	float: left;
	list-style: none;
}

#header li a {
	display: block;
	margin: 0;
	color: white;
	font-size: 15px;
	text-decoration: none;
}

#header li a:hover {
	border: solid 1px lightgrey;
}


#main {
	clear: both;
	width: 500px;
	height: 800px;
	margin: 100px auto 0px;
	padding: 0;
}

#main li {
	list-style: none;
	width: 400px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

#submit_button {
	border: none;
	background-color: white;
}

#main li s:textfield {
	width: 200px;
}

#main li s:password {
	width: 200px;
}

#searchForm {
	width: 185px;
	height: 20px;
	padding-left: 2px;
	border: solid 2px black;
}

#searchButton {
	margin: 0;
	padding: 5px;
	border: none;
	font-size: 10px;
	background-color: Gold;
}

#login_button {
	width: 200px;
	background-color: Gold;
}

#footer {
	clear: both;
	width: 100%;
	height: 30px;
	background-color: MidnightBlue;
	color: white;
	padding-top: 20px;
	text-align: center;
}